<p>My Awesome App</p>
<div id="notices"></div>
<div id="app">
	
	<script id="showIncidentTemplate" type="text/template">
  
    <p class="incidentDescription">Description:  {{ description }} </p>

      <div class="incidentInfo" style="display:none">
      	<p>Feelings:</p>
          <ul>
          	<!--// List Feelings and intensityBefore & intensityAfter-->
          	{@ _.each(feelings, function(f) { @}
          	<li>{{ f[0] }}</li> 
          	<ul>
        	  	<li>before: {{ f[1] }}</li>
        	  	<li>after:  {{ f[2] }}</li>
        	  </ul>
          	{@ }); @}
          </ul>
        <p>Thoughts:</p>
          <ul>
          	<!-- // Thoughts -->
          	{@ _.each(thoughts, function(t) {   @}
          		<li>{{  t[0]  }}</li>
          		<ul>
          	<!-- 	// Distortions -->
          		{@ _.each(t[2], function(distortion){   @}
          			<li>{{  distortion  }}</li>
          		{@  }); @}
          		</ul>
          	<!-- // Rational version of thoughts -->
          	<li>Rational:  {{ t[1] }}</li>
          	<br>
          	{@  });  @}
          </ul>      
        <button class="editDescription">edit</button>
       	<button class="destroyIncident">Delete this entry</button>
        <br><br>
      </div> <!-- //end incidentInfo -->
	</script>


	<form id="addIncident" action="">
		<input type="text" placeholder="new incident...">
		<input type="submit" value="addIncident">
	</form>


</div>


<script type="text/javascript">
  $(document).ready(function(){
    
    $('p.incidentDescription').hover(function(){
      $(this).toggleClass('incidentDescriptionHover');
    });
    $('.incidentDescription').click(function(){
      $(this).next().slideToggle();
    });

  });


</script>